body{
    background-image: url(/img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 117vh;
}
nav img{
    width: 50px;
}
footer{
    padding: 10px 0;
    color: black;
    margin-top: 60px;
}