main{
    height: 220vh;
}
video{
    width: 100%;
    height: 55%;
}
.Sobremi{
    height: 110vh;
    background-color: black;
    color: white;
}
.Sobremi img{
    width: 300px;
}
nav img{
    width: 50px;
}
footer{
    padding: 10px 0;
    color: black;
    margin-top: 60px;
}