body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-image: url(/img/fondoskills.jpg);
    background-position: center;
    height: 210vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav img{
    width: 50px;
}
@media (max-width: 1000px) {
main{
    height: 300vh;
}
  }
  @media (max-width: 912px) {
    main{
        height: 150vh;
    }
      }
      @media (max-width: 540px) {
        main{
            height: 250vh;
        }
          }
  @media (max-width: 450px) {
    main{
        height: 260vh;
    }
      }