body{
    font-family: Arial, Helvetica, sans-serif;
}
video{
    width: 100%;
}
.Sobremi{
    background-color: black;
    color: white;
}
.Sobremi img{
    width: 300px;
}
nav img{
    width: 50px;
}